@media (min-width:600px){
    footer{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 30px 60px;
    }
}

@media (min-width:700px){
    .header__store{
        height: auto;
    }
    .header__index{
        height:90vh;
    }
    .nav{
        position: static;
        background-color: transparent;
        height: 100px;
        padding: 20px 60px;
        display: flex;
        justify-content: space-between;
    
    }
    .nav a{
        font-size: var(--font-xl);
        font-weight: 500;
        color: var(--color-black);
    }
    .nav__right{
        display: flex;
        flex-direction: row;
        gap: 60px;
        align-items: center
    }
    .menu__open, .menu__close{
        display: none;
    }
    .main__section--carousel{
        display: grid;
        justify-items: center;
    }
    .carousel{
        width: 55%;
    }
}

@media (min-width:750px){
    .hero__content{
        grid-template-rows: 1fr 50px 1fr 1fr 1fr;
        padding: 0 60px;
        
    }
    .hero__title{
        font-size: var(--font-xxl);
        font-weight: 900;
        color: var(--color-white);
        margin-top: 40px;
        grid-row: 1/2;
    }
    .hero__description{
        grid-row: 2/3;
        font-size: var(--font-2xl);
        font-weight: 600;
        color: var(--color-white);
    
    }
    .hero__button{
        grid-row: 4/5;
    }

}
@media (min-width:750px){
    .main__section--rules{
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        gap: 30px;
        align-items: center;
    }
    .rules__image-container img{
        width: 100%;
    }
}
@media (min-width:950px){
    .product__list{
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
    }
}